<p id="notice"><%= notice %></p>

<p>
  <strong>Tranhead:</strong>
  <%= @tranelem.tranhead_id %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @tranelem.ad_id %>
</p>

<%= link_to 'Edit', edit_tranelem_path(@tranelem) %> |
<%= link_to 'Back', tranelems_path %>
